APP_ENV=local
APP_DOMAIN=localhost
DATABASE_URL_FILE=/run/secrets/database_u04_api
API_SECRET_FILE=/run/secrets/api_secret
BACKUP_BUCKET=
BACKUP_KEY_FILE=/run/secrets/backup_key
ALERT_EMAIL=
U04_WORKER_POOL_SIZE=5
U04_CLAIM_BATCH_SIZE=100
U04_PROVIDER_CONCURRENCY=4
U04_PER_PROVIDER_CONCURRENCY=1
U04_PUBLICATION_CONCURRENCY=1
U04_RETENTION_CONCURRENCY=1
U04_CONNECT_TIMEOUT_SECONDS=0.3
U04_READ_TIMEOUT_SECONDS=4.0
U04_TOTAL_TIMEOUT_SECONDS=5.0
U04_MAX_RESPONSE_BYTES=5242880
U04_MAX_RECORDS_PER_PAGE=1000
U04_PENDING_PUBLICATION_MAX_SECONDS=300
AI_PROVIDER_ENDPOINT=
U05_TOTAL_TIMEOUT_MS=10000
U05_INTENT_TIMEOUT_MS=2750
U05_DRAFT_TIMEOUT_MS=4250
U05_AI_CONCURRENCY=4
U05_DAILY_AI_UNITS=100000
U05_MAX_CANDIDATES=1000
U05_MAX_SCORED=500
U05_MAX_RESERVE=100
U05_MAX_EXPOSED=20
